*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}

.container{
width:900px;
margin:0 auto;
display:flex;
flex-wrap:wrap;
font-family:"poppins",sans-serif;
font-size:14px;
border:1px ridge white;
box-sizing:border-box;
}

.divstyle{
width:50%;
position:relative;
padding:15px 14px 0 45px;
box-sizing:border-box;
}

h2{
color:#002a75;
margin:2px;
}

.icon{
text-align:left;
font-size:30px;
position:absolute;
top:24px;
left:0px;
color:#0346b9;
}
.divelement{
color:#848683;
}
